html {
  background-image: url(https://images.unsplash.com/photo-1624880403473-4244deee045a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  overflow: auto;
  background-position-x: 0;
  background-position-y: 0;
  height: 100%;
  margin: 0;
  padding: 0;

}

h1, h5, li {
  font-family: 'monospace';
  font-size: 100px; 
  text-shadow: rgb(50, 19, 39);
  color: rgb(199, 97, 29);
  font-weight: bold; 
  margin: auto;
  width: 50%;
  border: 10px solid rgb(65, 21, 4);
  padding: 10px;
  text-align: center;
  background-color: rgb(243, 239, 231);
  

}

.splash {
  font-family: 'monospace';
  font-size: 20px;
  color: rgb(199, 97, 29);
  background-color: rgb(228, 217, 194);
}

body {
  background-color: rgb(228, 217, 194);
}

.add {
  font-family: 'monospace';
  font-size: 30px;
}